.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 40px;
  position: relative;
  margin: 0;
  background: #ffffff;
  border: 1px solid #eaebef;
  overflow: hidden;
  border-radius: 12px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 1088px;
  padding: 20px 20px 20px 20px;
  background: #ffffff;
  border: 1px solid #eaebef;
  border-radius: 12px 12px 0 0;
}
.text {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.text-2 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 29px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #0c0c0c;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.group {
  flex-shrink: 0;
  position: relative;
  width: 280px;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 3;
}
.text-3 {
  position: relative;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #0c0c0c;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.789px;
  text-align: left;
}
.text-4 {
  position: relative;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #0c0c0c;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.789px;
  text-align: left;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 554px;
  padding: 0 20px 0 20px;
  z-index: 4;
}
.group-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 355px;
  padding: 16px 16px 16px 16px;
  background: #eaebef;
  z-index: 5;
  border-radius: 8px;
}
.text-5 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #0c0c0c;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 514px;
  padding: 16px 16px 16px 16px;
  background: #2e3a5c;
  z-index: 7;
  border-radius: 8px;
}
.text-6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 482px;
  height: 132px;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.789px;
  text-align: left;
  z-index: 8;
}
.group-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 355px;
  padding: 16px 16px 16px 16px;
  background: #eaebef;
  z-index: 9;
  border-radius: 8px;
}
.text-7 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #0c0c0c;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.box-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 514px;
  padding: 16px 16px 16px 16px;
  background: #2e3a5c;
  z-index: 11;
  border-radius: 8px;
}
.text-8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 482px;
  height: 132px;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.789px;
  text-align: left;
  z-index: 12;
}
.group-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  padding: 20px 20px 20px 20px;
  background: #ffffff;
  border: 1px solid #eaebef;
  z-index: 13;
  border-radius: 0 0 12px 12px;
}
.text-9 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
  outline:none;
  width:85%
}
.group-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 67px;
  padding: 8px 16px 8px 16px;
  background: #2e3a5c;
  z-index: 15;
  overflow: hidden;
  border-radius: 6px;
}
.wrapper-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 35px;
  z-index: 16;
}
.text-a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  background-color: #2e3a5c;
  position: relative;
  width: 100px;
  height: 45px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 17;
}

.box {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Primary, #2e3a5c);
  width: 500px;
}

.text {
  width: 482px;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: break-spaces;
}

.btn {
  background-color: #0c0c0c;
}

.txt {
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color:"#333333"
}
